footer{
    font-size: 0.8em;
    background-color: rgba(108, 117, 125, 0.082);
    text-align: center;
    height: 5%;
    margin-top: 1vh;
}
.navbar ul{
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    overflow: hidden;
    background-color: white;

}
.navbar a{
    background-color: white;
    color: hsl(0, 0%, 13%);
    text-decoration: none;
    padding: 20px;
    margin: 0px;
    display: block;
    text-align: center;
    transition: all  0.15s;
}
.navbar a:hover{
    color: hsl(0, 0%,32%);
    font-size: 30px;
    text-decoration: underline;
}
.navbar li{
    float: right;
}
#imglol{
    background-image: url(https://wallpapercosmos.com/w/full/c/4/f/1239062-3840x2160-desktop-4k-green-forest-wallpaper-photo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 700px;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
}
h1{
    text-align: center;
    margin-bottom: 100px;
}
.navbar{
    position: sticky;
    top: 0px;
}
#tiktok{
    padding-left: 50px;
    text-decoration: none;
}
#yt{
    text-decoration: none;
}
#abt{
    background-image: url(image/banana.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height: 30em;
    margin: 0px;
    padding: 0px;
}
#whome{
    font-size: 2em;
    text-align: center;
    margin-bottom: 2%;
}
*{
    font-family: poppins light;
}
#logo{
    float: left;
    padding-left: 20px;
}#title{
    margin-bottom: 20px;
}
#midllti{
    display: grid;
    text-align: center;
    place-items: center;
    font-size: 2em;
    height: 100%;
    color: azure;
}
.description{
    text-align: center;
}
.gallery{
    margin: 5%;
}
.galrow{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#MeloMind{
    border-style: solid;
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.15s, opacity 0.15s;
    height: 20vh;
}
#MeloMind:hover{
    opacity: 0.96;
    transform: rotate(2deg) scale(1.05,1.05);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7);
}
.Project-stuff{
    display: flex;
    justify-content: center;
    margin: 2%;
}
.About-project{
    width: 35%;
    height: 30ch;
    border-radius: 20px;
    border: 1px;
    border-style: solid;
    margin: 1%;
}
.Project-info{
    width:45%;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    margin: 1%;
}
.Project-stuff ul{
    list-style-type: none;
    font-size: 1.5em;
}
p{
    font-size: 1.5em;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}
main{
    margin-bottom: 5vh;
}
#lol{
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-bottom: 1vh;
    height: auto;
}
